.title {
    font-size: 47px;
    font-weight: bold;
    margin: 12px 0;
}



/* Containers */

div.accordion {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.daily-item {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#6CAADC, #0060AE);
    align-items: center;
    height: 170px;
    justify-content: flex;
    border-radius: 25px;
    cursor: pointer;
    padding: 12px;
}

.daily-details-grid {
    display: flex;
    flex-direction: column;
    background-color: #949494;
    align-items: center;
    height: 170px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -169px;
}


/* Container Items */
label.day {
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}

label.description {
    font-size: 20px;
    font-weight: bold;
}

.daily-details-grid-item {
    background-color: #949494;
}

.daily-details-grid label {
    background-color: #949494;
}

label {
    text-align: left;
    font-size: 15px;
}
/* Images */

.icon-small {
    width: 40%;
    background: none;
}