.title {
    font-size: 47px;
    font-weight: bold;
    margin-bottom: 10px;
}



/* Containers */

div.accordion {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.daily-item {
    display: flex;
    flex-direction: column;
    background-color: #2B80A2;
    align-items: center;
    height: 170px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.daily-details-grid {
    display: flex;
    flex-direction: column;
    background-color: #949494;
    align-items: center;
    height: 170px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -169px;
}

.day {
    background-color: #2B80A2;
}

.description {
    background-color: #2B80A2;
}

.min-max {
    background-color:  #2B80A2;
}

/* Container Items */
label.day {
    font-size: 21px;
    font-weight: bold;
}

label.description {
    font-size: 18px;
}

.daily-details-grid-item {
    background-color: #949494;
}

.daily-details-grid label {
    background-color: #949494;
}

label {
    text-align: left;
    font-size: 14px;
}
/* Images */

.icon-small {
    width: 40%;
    background: none;
}