.title {
    font-size: 47px;
    font-weight: bold;
    margin-bottom: 10px;
}



/* Containers */

div.accordion {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.daily-item {
    display: flex;
    flex-direction: column;
    background-color: #DBDADA;
    align-items: center;
    height: 170px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.daily-details-grid {
    display: flex;
    flex-direction: column;
    background-color: dimgray;
    align-items: center;
    height: 170px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.day {
    background-color: #DBDADA;
}

.description {
    background-color: #DBDADA;
}

.min-max {
    background-color: #DBDADA;
}

/* Container Items */
label.day {
    font-size: 18px;
    font-weight: bold;
}

label.description {
    font-size: 18px;
}

.daily-details-grid label {
    background-color: dimgray;
}

/* Images */

.icon-small {
    width: 50%;
    background: none;
    margin-bottom: 12px;
}