.weather {
    width: 100%;
    height: 375px;
    display: flex;
    flex-direction: row;
    align-self: center;
}

/* Left side of current weather tab */
.top {
    margin: 40px auto;
    width: 25%;
}

.date {
    /* font-size: 19px; */
    margin-bottom: -15px;
}

.city {
    font-size: 47px;
    font-weight: bold;
    margin: 0;
}

.temperature {
    margin: 55px 0 0 0;
    font-size: 120px;
    font-weight: bold;
}

/* Middle section of Current Weather */
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    text-align: center;
}

.weather-icon {
    margin: 0;
    width: 40%;
    align-self: center;
}

.weather-description {
    margin: 0;
    font-size: 47px;
    font-weight: bold;
    margin-top: -15px;
}


/* Right Section of Current Weather */
.bottom {
    margin: 82px 0 0 0;
    width: 25%;
}

.details {
    display: inline-flex;
    flex-direction: column;
}

.parameter-label-title {
    font-size: 47px;
    font-weight: bold;
}

.parameter-row {
    display: flex;
    margin: 8px 0;
}

.parameter-label {
    margin: 0 0 0 10px;
    font-size: 21px;
    font-weight: bold;
}

.parameter-value {
    font-size: 21px;
    padding-left: 6px;
}
