* {
  font-family: Helvetica, Arial, sans-serif;

}

.searchbar {
  color: black;
}

.container {
  max-width: 1080px;
  margin: 10px auto;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#6CAADC, #0060AE);
  color: white;
  border-radius: 25px;
}

p {
    font-size: 21px;
}