* {
  font-family: Helvetica, Arial, sans-serif;

}

.searchbar {
  color: black;
}

.container {
  max-width: 1080px;
  margin: 10px auto;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#6CAADC, #0060AE);
  color: white;
  border-radius: 25px;
}

p {
    font-size: 21px;
}

/* Horizontal iPad Breakpoint*/
@media (max-width: 1366px) {

  body {
      margin: 48px;
  }

  .container {
      max-width: 1134px;
      height: 830px;
      padding: 48px 48px;
      justify-content: space-between;
  }
}

@media (max-width: 390px) {

  body {
    height: 100%;
    background: #0060AE;
  }

  .container {
    background: none;
  }
}